body {
    font-family: Robto,Arial,sans-serif;
    color: #747474;
}
h1 {
    font-family: Work Sans, Arial, sans-serif;
    color: #00b39b;
}
.nav {
background-color: #eaeaea;
position: fixed;
 top: 0;
 left: 0;
 width: 100%;
}
img.nav {
    max-width: 100%;
    height: auto; 
}
.main-top {
    padding: 0 20px;
    max-width: 980px;
    margin: 0 auto;
}
.top_logo {
    margin: 14.5px auto auto;
    width: 268px;
    height: 33px;
}
.menu {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 280px;
    float: right; 
}
.menu a{
    font-family: Roboto,Arial,sans-serif;
    text-decoration: none;
    font-size : 15px;
    line-height: 30px;
}
.about_us {
    color: #00b39b;
}
.career {
    color: #9FACAA;
}
.departments {
    color: #9FACAA;
}
.hat {
    max-width: 1015px;
    margin: 110px auto 30px; 
}
.hat_img {
    display: flex;
    margin: 20px auto;
}
.hat h1 {
    text-align: center;
    margin: 40px auto 20px;
    font-size: 35px;
    font-weight: 300;
}
.hat_grid {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px auto 30px;
    gap: 30px;
    line-height: 1.7;
}
.cards {
    max-width: 980px;
    margin: 0px auto; 
}
.cards select {
    font-size: 19.2px;
    font-family: Roboto, Arial, sans-serif;
    color: #FFFFFF;
    text-decoration: underline; 
}
.cards option {
    background-color: #fff;
    color: black;
    font-size: medium;
}
.cards h1{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 26px;
    line-height: 33.8px;
    margin: 0 auto; 
}
.cards p{
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
  margin: 10px auto;
}
.cards_grid {
    height: 340px;
    gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.card1 {
    width: 260px;
    background-color: #00ccb1;
    border-radius: 10px;
    padding: 30px 25px 30px 25px;
}
.card2 {
    width: 260px;
    background-color: #3e83e0;
    border-radius: 10px;
    padding: 30px 25px 30px 25px;
}
.card3 {
    width: 260px;
    background-color: #1b2735;
    border-radius: 10px;
    padding: 30px 25px 30px 25px;
}
.card1 select {
    background-color: #00ccb1;
    margin-top: 85px;
    margin-bottom: 10px;
    border: 1px solid #00ccb1;
}
.card2 select {
    background-color: #3e83e0;
    margin-top: 85px;
    margin-bottom: 10px;
    border: 1px solid #3e83e0;
}
.card3 select {
    background-color: #1b2735;
    border: 1px solid #1b2735;
}
.c3_1 select {
    margin-top: 40px;
    margin-bottom: 20px; 
}
.c3_2 select {
    margin-bottom: 15px; 
}
.company {
    max-width: 1015px;
    margin: 0 auto;
}
.company_grid {
    margin: 20px;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.company p{
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #00B39B;
    line-height: 33.8px;
    max-width: 300px;
}
.title {
    width: 285px;
}
.complist {    
    width: 610px;
}
.complist img{
    height: 20px;
    width: auto;
    max-width: 100%;
    padding: 10px;
}
.infos {
    
}