body {
    font-family: Robto,Arial,sans-serif;
    color: #747474;
}
h1 {
    font-family: Work Sans, Arial, sans-serif;
    color: #00b39b;
}
a {
    text-decoration: none;
}
.nav {
background-color: #eaeaea;
position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 3;
}
img.nav {
    max-width: 100%;
    height: auto; 
}
.main-top {
    padding: 0 20px;
    max-width: 980px;
    margin: 0 auto;
}
.top_logo {
    margin: 14.5px auto auto;
    width: 268px;
    height: 33px;
}
.menu {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 280px;
    float: right; 
}
.menu a{
    font-family: Roboto,Arial,sans-serif;
    text-decoration: none;
    font-size : 15px;
    line-height: 30px;
}
.about_us {
    color: #00b39b;
}
.career {
    color: #9FACAA;
}
.career:hover {
    color: #00b39b;
}
.departments {
    color: #9FACAA;
}
.departments:hover {
    color: #00b39b;
}
.hat {
    max-width: 1015px;
    margin: 110px auto 30px; 
}
.hat_img {
    display: flex;
    margin: 20px auto;
}
.hat h1 {
    text-align: center;
    margin: 40px auto 20px;
    font-size: 35px;
    font-weight: 300;
}
.hat_grid {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px auto 30px;
    gap: 30px;
    line-height: 1.7;
}
.cards {
    max-width: 980px;
    margin: 0px auto; 
}
.cards select {
    font-size: 19.2px;
    font-family: Roboto, Arial, sans-serif;
    color: #FFFFFF;
    text-decoration: underline; 
}
.cards option {
    background-color: #fff;
    color: black;
    font-size: medium;
}
.cards h1{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 26px;
    line-height: 33.8px;
    margin: 0 auto; 
}
.cards p{
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
  margin: 10px auto;
}
.cards_grid {
    height: 340px;
    gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.card1 {
    width: 260px;
    background-color: #00ccb1;
    border-radius: 10px;
    padding: 30px 25px 30px 25px;
}
.card2 {
    width: 260px;
    background-color: #3e83e0;
    border-radius: 10px;
    padding: 30px 25px 30px 25px;
}
.card3 {
    width: 260px;
    background-color: #1b2735;
    border-radius: 10px;
    padding: 30px 25px 30px 25px;
}
.card1 select {
    background-color: #00ccb1;
    margin-top: 85px;
    margin-bottom: 10px;
    border: 1px solid #00ccb1;
}
.card2 select {
    background-color: #3e83e0;
    margin-top: 85px;
    margin-bottom: 10px;
    border: 1px solid #3e83e0;
}
.card3 select {
    background-color: #1b2735;
    border: 1px solid #1b2735;
}
.c3_1 select {
    margin-top: 40px;
    margin-bottom: 20px; 
}
.c3_2 select {
    margin-bottom: 15px; 
}
.company {
    max-width: 1015px;
    margin: 0 auto;
}
.company_grid {
    margin: 20px;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.company p{
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #00B39B;
    line-height: 33.8px;
    max-width: 300px;
}
.title {
    width: 285px;
}
.complist {    
    width: 610px;
}
.complist img{
    height: 20px;
    width: auto;
    max-width: 100%;
    padding: 10px;
}
#companylist {
    filter: grayscale(1);
}
#companylist:hover {
    filter: grayscale(0);
} 
.comp7 img{
    padding-left: 25px;
    padding-bottom: 13px;
    height: 15px;
}
.comp8 img{
    padding-left: 20px;
    height: 30px;
}
.comp9 img{
    padding-left: 23px;
    height: 33px;
}
.comp10 img{
    height: 28px;
    padding-top: 18px;
}
.comp11 img{
    padding-top: 18px;
    padding-left: 32px;
    height: 25px;
}







.infos {
    background: #d9f7f5;
}
.info {
    padding: 50px 0 0 0;
    max-width: 1015px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
}
.info_title {
    max-width: 300px;
}
.left {
    width: 507.5px;
    height: 562px;
}
.right {
    width: 507.5px;
    display: flex;
    gap: 30px;
}
.title_h{
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    font-size: 34px;
    line-height: 44.2px;
    width: 450px;
}
.title_p {
    width: 400px;
    font-size: 14px;
    margin-bottom: 60px;
    line-height: 24px;
}
.bglogo {
    position: absolute;
    left: -18px;
}
.rtitle {
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #00B39B;
    line-height: 31.2px;
    text-align: center;
    margin: 0;
}
.rdesc {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    color: #747474;
}
.flag {
    background-color: #FFFFFF;
    height: 250px;
    width: 218px;
    border-radius: 7px;
    margin-top: 10px;
}
.flag img{
    width: 35px;
    height: 40px;
}
#flagicon {
    padding: 25px 91.5px 20px 91.5px;
}
.patients {
    margin-top: -20px;
    background-color: #FFFFFF;
    height: 250px;
    width: 218px;
    border-radius: 7px;
}
.patients img{
    width: 40px;
    height: 32px;
}
#picon {
    padding: 25px 91.5px 20px 91.5px; 
}
.visits {
    
    margin-top: 20px;
    background-color: #FFFFFF;
    height: 250px;
    width: 218px;
    border-radius: 7px;
}
.visits img{
    width: 40px;
    height: 40px;
}
#vicon {
    padding: 25px 91.5px 20px 91.5px; 
}
.doctors {
    
    margin-top: 20px;
    background-color: #FFFFFF;
    height: 250px;
    width: 218px;
    border-radius: 7px;
}
.doctors img{
    width: 40px;
    height: 40px;
}
#dicon {
    padding: 25px 91.5px 20px 91.5px; 
}
.coun_title {
    margin: 100px auto;
    width: 500px;
}
.coun_title h1{
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    color: #00B39B;
    text-align: center;
}
.coun_title p{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #747474;
    text-align: center;
    width: 450px;
}
.countries_grid {
    max-width: 970px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.countries_grid img{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.payscard {
    width: 311px;
    background-color: #f7f7f7;
    border-radius: 7px;
}
.payscard img{
    width: 311px;
    height: 270px;
}
.payscard p{
    padding-left: 20px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    color: #747474;
}
.warsaw {
    height: 45px;  
}
.istanbul {
    height: 45px;
}
.curitiba {
    height: 45px;
}
.bogota {
    height: 45px;
}
.joinus {
    width: 1000px;
    margin: 100px auto;
    text-align: center;
}
.joinus h1{
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    color: #333333;
    text-align: center;
}
#joinusbutton {
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding:12px 20px;
    border-radius: 4px;
    color: #edf5ff;
    background-color: #3d83e0;
    border: none;
}
#joinusbutton:hover {
    background-color: #1762c7; 
}
.border {
    height: 0.1px;
    background-color: #eef2f2;
    margin-bottom: 35px;
}
.footerdiv p{
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #ABABAB;
    line-height: 15.6px;
}
.footerdiv a{
    color: #3D83DF;
}